.git
.github
.cache
node_modules
out
dist
release
release-gcp
release-packages
lib/vscode-reh-web-*
lib/vscode/node_modules
lib/vscode/.git
lib/vscode/.build
lib/vscode/out
lib/vscode/out-*
test
*.log
Dockerfile.dev
